.navbar {
  margin: 0rem 5rem;
  display: flex;
}

.navbar nav .navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar nav .navbar-nav li {
  margin-left: 1rem;
}

.title {
  color: black;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .navbar {
    margin: 1rem;
    display: block;
  }

  .nav-brand {
    display: flex;
    justify-content: space-between;
  }
  .nav-brand button {
    background-color: transparent;
    border: 1px solid;
    color: rgb(0, 140, 255);
    border-radius: 0.2rem;
  }

  .navbar nav .navbar-nav {
    display: block;
    border-bottom: 2px solid whitesmoke;
  }

  .navbar nav .navbar-nav li:hover {
    background-color: whitesmoke;
  }
}
